html {
    background-color: black;
    font-family: 'Times New Roman';
    color: white;
}
aside {
    position: relative;
    width: 325px;
}
canvas {
    border: solid;
    border-color: white;
    border-width: 1px;
    position: absolute;
    left: 350px;
    top: 10px;
}
.instructions {
    position: absolute;
    left: 78%;
    top: 5%;
    width: 18%;
}
